/* Navigation */
#top-nav {
    display: none;
}

/* Buttons */
button {
    text-align: center;
}


/* Main Section */
.background-image {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

.background-image >.container {
    min-height: 202px;
    text-align: center;
}


/* What We Do Section */

/* Our Latest Work Section */

/* Testimonials Section */
.testimonials{
    height: 63vh;
}
.carousel-wrapper {
    position: relative;
  }
  .carousel-wrapper .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 80px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .carousel-wrapper .carousel-item .arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    background: url("./images/left-arrow.png") 50% 50%/20px no-repeat;
  }
  .carousel-wrapper .carousel-item .arrow.arrow-prev {
    left: 0;
  }
  .carousel-wrapper .carousel-item .arrow.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .carousel-wrapper .carousel-item.light {
    color: white;
  }
  .carousel-wrapper .carousel-item.light .arrow {
    background: url("./images/right-arrow.png") 50% 50%/20px no-repeat;
  }
  @media (max-width: 480px) {
    .carousel-wrapper .carousel-item .arrow, .carousel-wrapper .carousel-item.light .arrow {
      background-size: 10px;
      background-position: 10px 50%;
    }
  }
  .carousel-wrapper [id^=target-item] {
    display: none;
  }
  .carousel-wrapper .item-1 {
    z-index: 2;
    opacity: 1;
  }
  .carousel-wrapper *:target ~ .item-1 {
    opacity: 0;
  }
  .carousel-wrapper #target-item-1:target ~ .item-1 {
    opacity: 1;
  }
  .carousel-wrapper #target-item-2:target ~ .item-2,
  .carousel-wrapper #target-item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }

/* Our Happy Clients Section */

.happy-client{
  float: left;
  padding: 10px;
}

/* Meet The Team Section */

/* Main Footer */

/* As Seen on Section on footer */

/* CopyRight Section on Footer */