.main{
    background-image: url(./images/Background1.png);
}

.what-we-do{
    background-color: #fff;
}

.our-latest-work{
    background-color: #54d154;
}

.testimonials{
    background-color: #fff;
}

.our-happy-clients{
    background-color: #f2f1f1;
}

.meet-the-team{
    background-color: #54d154;
}

.main-footer{
    background-color: #333;
}

.as-seen-on{
    background-color: #222;
}

.copyright{
    background-color: #111;
}